**.pyc
**.log
**.json
**.jpg
**.so
encrypted
**.whl
**.sh
**.onnx
**.txt
**.JPG
**.tar
weights
**.jpeg
*.bmp
*.pt
**.png
**.zip
demo/data/panel_label/*
temp_data
demo/data/test
demo/data/charging_pile_test
demo/data/ng
**/docs
CLAUDE.md
